<%= form_with(model: [ @task, @task.sub_tasks.build ], local: true) do |form| %>
  <p>
    <%= form.text_area :text %>
  </p>
  <p>
    Complete <%= form.check_box :complete %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>